{% extends 'base.html.twig' %}

{% block title %}{{project_name}}{% endblock %}

{% block body %}
<style>
    .example-wrapper { display:flex; justify-content:center; margin: 1em auto; width: 100%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper">
    <h1>{{project_name}}</h1>
</div>
{% endblock %}